<template >
    <template if:true={contactid}>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-large-size--4-of-12">
                <div style="height:25px; width:600px; margin:20px; margin-bottom:150px;">
            <lightning-card title="New Contact">
           <lightning-record-edit-form 
             object-api-name="Contact" 
              onsuccess={handleSuccess} 
            >
            <lightning-input-field field-name="Name">
            </lightning-input-field>
            <lightning-input-field field-name="AccountId" value={contactid}>
            </lightning-input-field>
            <lightning-button
                        class="slds-m-top_small"
                        type="submit"
                        label="Create new">
                 </lightning-button>
        </lightning-record-edit-form>
    </lightning-card>
    </div>
    </div>
    </div>
    </template>
    
</template>