<template>
    <lightning-card title="Get picklist values of Type field">
        <div class="slds-m-around_medium">
            <template if:true={TypePicklistValues.data}>
                <lightning-combobox name="Coffee Type:" label="Coffee Type:" value={value}
                    options={TypePicklistValues.data.values} onchange={handleChange}>
                </lightning-combobox>
                <div style="height:5px; margin-left:200px"></div>
            </template>
                    <lightning-button
                        variant="success"
                        class="slds-m-top_small"
                        type="submit" 
                        label="Choose"
                        onclick={handleClick}>
                    </lightning-button>
            <p>Selected value is: {value}</p>
        </div>

    </lightning-card>
    <div style='margin-left:100px;z-index:-2'>
        <a name="top" style="pointer-events: none;">
    <c-deatail-item productid={selectesItem} style='margin:25px'></c-deatail-item>
</a>
<c-creedit-card-form></c-creedit-card-form>
<div class="container">
 <lightning-button if:true={selectesItem}
    variant="brand"
    class="slds-var-m-top_smal"
    type="submit" 
    label="Buy"
    onclick={handleBuyClick}>
</lightning-button>
</div>
    </div><a href=#top>
    <c-display-coffee onproductselected={handleselectedproduct}></c-display-coffee>
    </a>
</template>