<template >
    <template if:true={productid}>
        <div if:true={detailinfo}></div>
        <div>
        <div style='display:inline-block'>
        <template for:each={detailinfo} for:item="info" style='display:inline-block'>
            <div key={info.productRecord.Name} style='display: inline-block'>
               <img key={info.productRecord.Nam} src={info.productRecord.Image__c} if:true={info.productRecord.Image__c} style='width:200px;height:400px'>
               <img src='https://im0-tub-by.yandex.net/i?id=283e2b6409bc8c5be0d7591597e8a1a2&n=13' if:false={info.productRecord.Image__c} style='width:200px;height:400px'>
            </div>
              <div key={info.productRecord.Name} style='display:inline-block'>
                  <div key={info.productRecord.Name} style='margin-left:20px;font-size:large;color:midnightblue;font-family:Impact'>Coffee name:  {info.productRecord.Name}</div>
                    <div key={info.Price.UnitPrice} style=' margin-left:20px;display:inline-block;font-size:large;color:midnightblue;font-family:Impact' if:true={info.Price}>Coffee price:  {info.Price.UnitPrice}$</div> 
                   <br> 
                </div>
        </template>
        </div>
        </div>
        </template>
        <c-creedit-card-form></c-creedit-card-form>
</template>