<template>
    <div class="container" style=" margin:15px" id='object'>
        <a onclick={itemClick}>
            <img src={product.Image__c} if:true={product.Image__c} style='height:400px; width:200px'>
            <img src='https://im0-tub-by.yandex.net/i?id=283e2b6409bc8c5be0d7591597e8a1a2&n=13' if:false={product.Image__c} style='height:400px; width:200px'>
            <div class="title" style="color:darkslategray; font-size:large;margin-left:20px">{product.Name}</div>
            <div style='margin:9px'></div>
            <lightning-button
                  variant="brand"
                  class="slds-m-top_small"
                  type="submit"  label="Choose" style='color:darkorchid;margin-left:30%;width:200px;padding-top:10px;margin-bottom:10px'>
                  </lightning-button>
        </a>
    </div>
</template>