.container {
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    background-color:rgb(255, 255, 0);
    margin:5px;
    padding: 2px;
    max-width: 110px;
    display: flex;
}

.title {
    font-weight: strong;
}

.product-img {
    max-width: 100px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(159, 159, 159);
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
#object:hover{
    border-color: coral;
}