<template>  
    <div class="slds-grid">
    <div class="slds-col">
            <c-account-form oncustomsubmit={testaccount}></c-account-form>
            </div>
            <div class="slds-col"></div>
            <div class="slds-col">
            <c-contact-form contactid={testvar}></c-contact-form>
            </div>
        </div>  
</template>