<template>
    <div class="container">
        <div if:true={coffees}>
        <template for:each={coffees} for:item="coffee">
                <div class="eachcard" key={coffee.Name} style="padding: 15px; margin:15px;background-color:white;
                width:250px;flex-direction: row;display: inline-block;border-color:black;border-width:3px;border-style:solid;border-radius:20px">
                  <c-coffee-item
                   key={coffee.Name}
                   product={coffee}
                   onitemclick={handleTileClick}>
                  </c-coffee-item>
                  <div>
                  </div>
                </div>
        </template>
        </div>
    </div>
</template>