<template>
        <lightning-card title="Credit Card Info" icon-name="custom:custom9" if:true={readyToBuy}>
            <div class="slds-m-around_medium">
                    <lightning-input type="number" label="Card Number" name="input"></lightning-input>
                    <lightning-input type="number" label="CVC Code" name="input1"></lightning-input>
                    <br>
                    <lightning-button
                        variant="brand" type="submit"  label="Confirm" onclick={handleClick}>
                    </lightning-button>
            </div>
        </lightning-card>    
</template>