<template>
    <div class="slds-grid slds-wrap">
    <div class="slds-col slds-large-size--8-of-12">
        <div style="height:25px; width:600px; margin:20px; margin-bottom:150px;">
        <lightning-card  title="New Accont">
        <lightning-record-form
            object-api-name={objectApiName}
            fields={fields}
            onsuccess={handleSuccess}>
        </lightning-record-form>
    </lightning-card>
    </div>
   </div>
   </div>
</template>